body {
	margin-top: 20px;
}

h1 {
	color: #3484D2;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form .required label {
	font-weight: bold;
}

#ajax-spinner {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#ajax-spinner:after {
	position: absolute;
	left: 50%;
	top: 50%;

	width: 80px;
	height: 80px;

	content: "";

	animation: spin 800ms linear infinite;
	background: pink;
}
